@import '../variables-mixins';

.login-container {
  height: 100vh;
  position: relative;

  .login-box {
    background-color: $gray;
    border-radius: 20px;
    height: 100%;

    .login-error {
      font-size: $smaller-font-size;
      font-weight: 500;
      color: red;
    }

    .call-to-action-button {
      width: 100%;
    }

    .secondary-button {
      width: 100%;
    }

    .redirect-to-registration {
      font-size: $smaller-font-size;
    }
  }
}