@import '../variables-mixins';

.login-container {
  height: 100vh;
  position: relative;

  .login-box {
    background-color: $gray;
    border-radius: 20px;
    height: 100%;

    .call-to-action-button {
      width: 100%;
    }

    .secondary-button {
      width: 100%;
    }
  }
}