@import '../variables-mixins';

.registration-container {
  height: 100vh;
  position: relative;

  .registration-box {
    background-color: $gray;
    border-radius: 20px;
    height: 100%;

    .call-to-action-button {
      width: 100%;
    }

    .secondary-button {
      width: 100%;
    }

    .redirect-to-login {
      font-size: $smaller-font-size;
    }
  }
}