@import '../variables-mixins';

.footer-container {
  background-color: $gray;

  p {
    font-size: 14px;
  }

  .footer-description {
    font-size: $smaller-font-size;
  }

  .useful-links {
    a {
      display: block;
    }
  }

  .social-links-container {
    i {
      padding: 10px;
      background-color: $darkPurple;
      color: $white;
      border-radius: 50%;
    }
  }
}