@import '../variables-mixins';

.news-card {
  .news-image {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  .news-title {
    font-weight: 500;
  }

  .news-intro {
    font-size: $smaller-font-size;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}