@import "../global";

.progress-indicator-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  z-index: 1;

  .progress-indicator {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-color: $purple $purple transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &:after, &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 3px solid;
      border-color: transparent transparent $darkPurple $darkPurple;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      animation: rotationBack 0.5s linear infinite;
      transform-origin: center center;
    }

    &:before {
      width: 32px;
      height: 32px;
      border-color: $purple $purple transparent transparent;
      animation: rotation 1.5s linear infinite;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
