@import 'variables-mixins';

.header-container {
  height: 80px;
  position: relative;
  border-bottom: 1px solid $gray;

  img {
    height: 50px;
    width: auto;
  }

  .login-button,
  .logout-button {
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    background-color: $gray;
    color: $darkPurple;

    @include md {
      height: auto;
      width: auto;
      background-color: $darkPurple;
      color: $white;
      font-weight: 300;
      padding: 5px 15px;
    }
  }

  .logout-container {
    .greetings {
      font-size: $smaller-font-size;
    }
  }

  .fa-bars {
    font-size: 25px;
  }
}

.body-container {
  position: relative;
  min-height: 500px;

  .navigation-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 99;
    border-bottom: 1px solid $purple;

    @include md {
      position: relative;
      border-bottom: none;
    }
  }
}
