$darkPurple: #7868E6;
$purple: #B8B5FF;
$gray: #EDEEF7;
$black: #1D1936;
$white: #FFFFFF;

$base-font-size: 15px;
$smaller-font-size: 13px;
$bigger-font-size: 17px;

@mixin xs {@media (max-width: 575px) { @content; }}
@mixin sm {@media (min-width: 576px) { @content; }}
@mixin md {@media (min-width: 768px) { @content; }}
@mixin lg {@media (min-width: 992px) { @content; }}
@mixin xl {@media (min-width: 1200px) { @content; }}
@mixin xxl {@media (min-width: 1400px) { @content; }}